* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 128, 61, 0.8);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  flex: 1;
}

.nav-links {
  display: none;
}

.nav-links a {
  margin-left: 24px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #facc15;
}

/* Login Dropdown */
.login-container {
  position: relative;
}

.login-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.login-btn:hover {
  color: #facc15;
}

.login-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: gainsboro;
  border-radius: 16px;
  backdrop-filter: blur(8px);
  padding: 12px;
  min-width: 180px;
  z-index: 2000;
}

.btn {
 cursor: pointer;
    border: 1px solid;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 3px;
    width: 100%;
    height: 30px;
    margin: 6px 0;
    font-size: 12px;
    font-weight: 500;
    display: inline-flex;
}

.btn-google:hover {
  background: rgba(0, 0, 0, 0.03);
}

.btn-phone {
  background: #111827;
  color: #ffffff;
  border-color: #111827;
}
.g-icon {
  width: 15px;
  height: 15px;
}
.btn-phone:hover {
  background: #0b1220;
}

.divider {
  text-align: center;
  font-size: 14px;
  margin: 8px 0;
  color: #333;
}

/* Bottom Nav */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.bottom-nav a {
  text-decoration: none;
  color: #555;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease;
}

.bottom-nav a i {
  font-size: 20px;
}

.bottom-nav a.active {
  color: #2563eb;
  font-weight: 600;
}

/* Desktop view */
@media (min-width: 768px) {
  .nav-container {
    justify-content: space-between;
  }
  .logo {
    flex: unset;
  }
  .nav-links {
    display: flex;
  }
  .bottom-nav {
    display: none !important;
  }
}
